header{
    width:100%;
    background-color:rgb(250, 250, 250);
    padding: 1rem 0rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.menu{
    width:100%;
    list-style: none;
    margin-top: 2rem;
     
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu li{
    font-size: 1.6rem;
    font-weight: 700;
    padding:1rem 3rem;
    color:rgb(22, 22, 22);
}

.banner {
    width: 100%;
    height: 55rem;
    background-image:url(./../img/IMG-20220826-WA0011.jpg);
    background-position:center;

    position: relative;
    display:;
}

.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.content_banner{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding:2rem;
}

.banner span, h1, p {
    color: rgb(248,248,248,1.0);
    margin-top: 1.5rem;     
}

.banner span{
    font-size:2rem;
}

.banner h1{
    font-size: 4.5rem;
    font-weight: 900;
}

.banner p{
    font-size: 1.7rem;
}

.button{
    text-decoration:none ;
    display: block;
    width: 21rem;
    height: 5rem;
    background-color: rgb(255,113,117,1.0);
    color:rgb(248,248,248,1.0);
    font-size: 1.9rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    margin: auto;
    margin-top: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*About rappi 01*/

.rappi01{
    width: 100%;
    
}

.title{
  width: 100%;
  background-color: var(--color5);  
  padding:  4rem 2rem;
}

.title h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 100;
}

.title h3 hr{
    margin:0 1rem;
    font-weight:900;

}

.title h2{
    font-size: 5rem;
    margin-top: 3rem;
}

.contenido01{
    width: 100%;
    padding: 4rem 2rem;
}

.contenido01 p{
    color:var(--color3);
    font-size: 1.4rem;
}

.buttons{
    width: 100%;
   

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;

}

.button01{
    text-decoration: none;
    display: block;
    background-color: var(--color1);
    color:aliceblue;
    width: 20rem;
    border-radius: 10rem;
    padding: 1rem;
    margin-top: 2rem;
    -webkit-box-shadow: -2px -1px 47px -5px rgba(255,113,118,1); 
    -moz-box-shadow: -2px -1px 47px -5px rgba(255,113,118,1);
    box-shadow: -2px -1px 47px -5px rgba(255,113,118,1);

    font-size: 1.8rem;

    display:flex;
    align-items: center;
    justify-content: center;

}

.button02{
    text-decoration: none;
    display: block;
    border: 1px solid var(--color1);
    width: 15rem;
    border-radius: 10rem;
    margin-top: 2rem;
    padding: 1rem;
    color: var(--color1);
    font-size: 1.8rem;

    display:flex;
    align-items: center;
    justify-content: center;

}
